<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <video autoplay muted loop id="bg-video">
        <source src="{{ url_for('static', filename='background.mp4') }}" type="video/mp4">
    </video>

    <h1>Enter your email address to log in</h1>
    <form action="/auth" method="post">
        <input type="email" name="email" required>
        <button type="submit">Log In</button>
    </form>
</body>
</html>
